.loading {
  font-size: 1.5rem;
}

.playerCard {
  border-radius: 20px;
  background-color: #391898;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12rem;
  max-width: 15rem;
  padding: 2rem;
  text-align: center;

  .playerName {
    font-size: 2rem;
  }
  .player {
    font-size: 1.3rem;
  }
}

.myCard {
  left: 5rem;
}

.otherCard {
  right: 10rem;
}

.str-chat.messaging.str-chat-channel.str-chat__channel{
  background: transparent;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.str-chat__header-livestream.str-chat__channel-header{
  background: transparent;

}

.str-chat__list  {
  background: transparent !important;

}

.str-chat__message-input{
  background: transparent !important;
  display: flex;
  align-items: center;
}

.str-chat__file-input-label{
  margin:  0;
}

.str-chat__file-input-container{
  align-items: center;
}

.ant-tooltip-inner{
  color: black !important;
}

.next__turn {
  border: 2px solid greenyellow;
}